<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402620727268-bv1r09k5vqj8hkjuj6f65ifbmerph9pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402620727268-bv1r09k5vqj8hkjuj6f65ifbmerph9pe</string>
	<key>API_KEY</key>
	<string>AIzaSyB_BtFO54aJk5WGo4JWSsNDUo6NbOo6Sjo</string>
	<key>GCM_SENDER_ID</key>
	<string>402620727268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kms.reborn-with-corona</string>
	<key>PROJECT_ID</key>
	<string>reborn-with-corona</string>
	<key>STORAGE_BUCKET</key>
	<string>reborn-with-corona.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402620727268:ios:fc903bb357e795ac8551f1</string>
</dict>
</plist>